main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: #292723; }

main .main {
  display: flex;
  height: 150px;
  align-items: center;
  width: 98%;
  border-radius: 5px; }

main .main .conocimiento {
  width: 40%; }

main .main .conocimiento h4 {
  font-size: 2em;
  color: white;
  font-family: "Kanit";
  font-weight: 400;
  text-align: center; }

main .main .lenguajes .caja {
  margin: 20px;
  border-radius: 10%;
  color: white;
  font-family: "Kanit";
  font-weight: 200; }

main .main .lenguajes {
  display: flex; }

main .main .lenguajes p {
  font-size: 2.5em;
  text-align: center; }

main .main .lenguajes p i {
  font-size: 1.5em;
  color: orange; }

/*-------------------------- */
h6 {
  font-family: "Kanit";
  font-size: 2.5em;
  color: white;
  font-weight: 400;
  text-align: center; }

main .galeria {
  background: rgba(60, 60, 60, 0.5); }

/*-------------------------- */
.cv {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  background: #292723; }

.cv .logo-bts {
  background: #dad6d2;
  background: linear-gradient(142deg, rgba(218, 214, 210, 0.2) 20%, rgba(255, 179, 0, 0.7) 38%, rgba(246, 107, 1, 0.5) 68%, rgba(207, 255, 0, 0.2) 96%, rgba(214, 118, 0, 0.1) 100%);
  width: 15%;
  text-align: center;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  height: 350px; }

.cv p {
  color: whitesmoke;
  margin-top: 40px;
  font-size: 1em;
  font-family: "Kanit";
  font-weight: 300;
  color: whitesmoke;
  padding: 5px;
  width: 100%;
  text-align: center; }

.cv .logo-bts i {
  font-size: 5em;
  color: white;
  border-bottom: 1px solid white;
  width: 100%; }

.contacto {
  width: 100%;
  display: none;
  margin-top: 20px; }

.ver {
  visibility: visible;
  position: relative; }

.botonn {
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  width: 100%; }

.botonn button {
  background: orange;
  border-radius: 0px 0px 50px 50px;
  font-family: "Kanit";
  font-size: 25px;
  color: white;
  width: 100%;
  padding: 5px; }

.botonn button i {
  font-size: 30px;
  margin: 10px; }

.botonn button:hover {
  cursor: pointer; }

.works {
  display: flex;
  justify-content: space-between; }

.works .imagenes {
  border: 8px solid whitesmoke;
  opacity: 0.8;
  border-radius: 15px; }

.works .imagenes:hover {
  opacity: 1;
  transition: 2s all ease; }

.works .imagenes img {
  height: 250px;
  width: 350px;
  border-radius: 10px; }

/*-------------------------- */
.formtotal {
  background: #292723;
  margin-top: 20px;
  box-shadow: 3px solid black; }

h5 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Kanit";
  font-weight: 400;
  color: white;
  margin-top: 20px; }

.formulario {
  display: flex;
  justify-content: center;
  width: 70%; }

.formtotal {
  display: flex;
  justify-content: center; }

.formulario .contact {
  width: 70%;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

.formulario .contact form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: none;
  border: none; }

.formulario .contact form input[type="text"],
.formulario .contact form input[type="email"],
.formulario .contact form textarea {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Kanit";
  font-weight: 200;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 1px solid orange;
  color: white; }

.formulario .contact form input[type="text"],
.formulario .contact form input[type="email"] {
  width: 48%; }

.formulario .contact form textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 300px;
  color: whitesmoke; }

.formulario .contact form input[type="submit"] {
  width: 100%;
  background: navajowhite;
  font-family: "Kanit";
  font-size: 1em;
  padding: 10px;
  color: black;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid orange; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  font-size: 15px;
  background: darkgrey;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; }

body::-webkit-scrollbar {
  background: whitesmoke; }

body::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 5px; }

/*---------------------------------- */
header {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: black; }

header .header {
  text-align: center;
  z-index: 1; }

header {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0; }

header .contenedorvideo {
  opacity: 0.5;
  background: black;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }

header .contenedorvideo video {
  left: 40;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%; }

header .header .menu a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px;
  font-family: "Kanit";
  font-weight: 200;
  color: white;
  position: relative; }

header .header .menu a:hover {
  text-decoration: underline; }

header .header .titulos h1 {
  font-family: "Kanit";
  color: orange;
  font-size: 5em;
  font-weight: 200; }

header .arrow {
  margin-top: 20px; }

header .arrow i {
  font-size: 6em;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px; }

header .header .titulos h2 {
  font-family: "Kanit";
  color: whitesmoke;
  font-size: 2em;
  font-weight: 200;
  border-top: 1px solid orange; }

/*--------------------------- */
header .header .redes i {
  font-size: 3em;
  color: orange;
  text-decoration: none;
  padding: 10px; }

header .header .redes i:hover {
  color: whitesmoke;
  transition: 3s all ease; }

footer {
  background: #e27501;
  background: linear-gradient(142deg, #e27501 30%, #ffb300 57%, #f66b01 68%, #d67600 100%, #cfff00 100%); }

footer .footer .derechos {
  font-family: "Kanit";
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  color: whitesmoke; }

@media screen and (max-width: 1000px) {
  main .main .lenguajes {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 1000px) {
  main .main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center; } }
@media screen and (max-width: 1000px) {
  .cv {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: auto; } }
@media screen and (max-width: 1000px) {
  .cv .logo-bts {
    width: 50%;
    margin: 10px;
    height: auto; } }
/*------------------------------------ */
@media screen and (max-width: 1000px) {
  .contacto {
    height: auto; } }
@media screen and (max-width: 1000px) {
  .contacto .galeria {
    height: auto; } }
@media screen and (max-width: 1400px) {
  .contacto .galeria {
    height: auto; } }
@media screen and (max-width: 1000px) {
  .works {
    width: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 1000px) {
  .works .imagenes {
    width: auto;
    justify-content: center;
    display: flex;
    margin: 5px; } }
@media screen and (max-width: 1400px) {
  .works {
    width: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 1400px) {
  .works .imagenes {
    width: auto;
    justify-content: center;
    display: flex;
    margin: 5px; } }
/*------------------------- */
@media screen and (max-width: 550px) {
  .contacto {
    height: auto; } }
@media screen and (max-width: 550px) {
  .works {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; } }

/*# sourceMappingURL=estilos.css.map */
